* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(245, 214, 214);
}

div {
    height: 330px;
    width: 720px;
    border: 2px solid black;
    margin: 150px auto;
    background-image: url(images/img.webp);
}

h1 {
    text-align: center;
    color: white;
    margin-top: 5px;
    transition: color 0.3s ease;
}

h1:hover {
    color: rgb(235, 88, 14);
}

form {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 0 25px 25px;
}

input {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 35px;
    width: 90%;
    background-color: rgba(61, 59, 59, 0);
}

span {
    font-size: 17px;
    color: white;
    font-weight: bold;
}

#btn {
    height: 35px;
    width: 100px;
    position: absolute;
    left: 47.5%;
    top: 57%;
    font-size: 22px;
}

#tick {
    position: absolute;
    top: 47.4%;
    left: 70%;
    color: white;
}

#loader {
    color: white;
}

p {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 35px;
    margin-top: -140px;
}